$baseColor: #91a7ff;

body {
  background: $baseColor;

  h1 {
    display: flex;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  #parcel {
    width: 400px;
    height: 374px;
    margin: 0 auto;
    background: url("../images/test.png");
  }
}
